#platform=x86, AMD64, or Intel EM64T
#version=1.0
# Install OS instead of upgrade
install

# Keyboard layouts
keyboard 'us'

# Root password
rootpw --iscrypted $6$AEIgZal1JUBc68mk$/ItJYsW3gwTEQJOhoCnu6wl5zDBzX/i/mZRKriBxCLVzh4qyJLp0DoLAYjMJerlqrBVBb6uQCxu5OmpWqBDL11

# System language
lang en_US

# Firewall configuration
firewall --enabled --ssh

# System authorization information
#auth  --useshadow  --passalgo=sha512 --enablesssd --enablesmartcard --smartcardmodule=opensc --smartcardaction=0 --passminlen=15 --passminclass=4 --passmaxrepeat=3 --passmaxclassrepeat=4 --enablereqlower --enablerequpper --enablereqdigit --enablereqother --enablefaillock

# Use CDROM installation media
cdrom

# Use text mode install
text

# Run the Setup Agent on first boot
#firstboot --disabled

# SELinux configuration
selinux --enforcing

#Shutdown and power off after installation
poweroff

# System timezone
timezone Pacific/Honolulu

# Clear the Master Boot Record
zerombr

# System bootloader configuration

# Partition clearing information
clearpart --all --initlabel

# Disk partitioning information
part /boot --asprimary --fstype="xfs" --size=1024
part pv.01 --size=10240 --grow
volgroup RHEL pv.01 --reserved-percent=25
logvol swap --vgname="RHEL" --size="2048" --name="SWAP" --hibernation
logvol / --vgname="RHEL" --name="ROOTVOL" --size="14336" --fstype="xfs"
logvol /var --vgname="RHEL" --name="VAR" --percent="32" --fstype="xfs"
logvol /var/log/audit --vgname="RHEL" --name="VAR_LOG_AUDIT" --percent="16" --fstype="xfs"
logvol /tmp --vgname="RHEL" --name="TMP" --percent="16" --fstype="xfs"
logvol /home --vgname="RHEL" --name="HOME" --percent="16" --fstype="xfs"

#Disable insecure services
services --disabled=ctrl-alt-del.service,dnsmasq.service,libvirtd.service

#Create groups for the users
#group --name="unixgp"

#Create Users

#Agreeing to EULA
#eula --agreed

#Disable KDUMP
%addon com_redhat_kdump --disable
%end

#Configuring network using Pre-install script output
%include /tmp/network.config

#Configure X11 to be run
xconfig --defaultdesktop=GNOME --startxonboot

#Scripts to be run before install process
%pre --interpreter="/usr/bin/bash" --log="/mnt/sysimage/root/Pre-script-kickstart.log"
nic="$(ifconfig | egrep -e flags | awk -F: '{printf $1"\n"}' | egrep -v -e "^lo" -e "^virbr" | head -n 1)"
ifconfig $nic | egrep ether | tr [:upper:] [:lower:] | awk '{printf $2}' | awk -F: '{printf "centos-"$4$5$6}' > /tmp/hostname
printf "network --activate --bootproto=dhcp --hostname=\"%s\" --onboot=\"on\"\n" `cat /tmp/hostname` > /tmp/network.config

%end

#Scripts to be run after install process
%post --interpreter="/bin/bash" --log="/root/Post-script-postline.log"
VOLID="CentOS-Auto-Minimal"

echo $VOLID
%end
